
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para el formulario */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #007BFF;
    padding: 10px 0;
}

.navbar-brand,
.navbar-nav a {
    color: #fff !important;
}

/* Estilos para la página de resultados */
.container mt-5 {
    text-align: center;
    margin-top: 50px;
}

/* Estilos para la imagen */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: #fff;
}
